body { 
    background-color: rgb(20, 103, 122);
}
button { 
    min-width: 200px;
    min-height: 100px;
    font-size: 60px;
}

button:hover{ 
    background-color: red;
}

.board { 
    display: grid;
    justify-content: center;
    margin-top: 150px; 
}

header , footer , .score { 
    text-align: center;
    font-size: 20px;
}

@media all and (max-width: 650px) {
    button { 
        min-width: 150px;
        min-height: 75px;
    }
}

@media all and (max-width : 500px) {
    button { 
        min-width: 100px;
        min-height: 50px;
    }
}


