body { 
    background-color: rgb(20, 103, 122);
}
button { 
    min-width: 200px;
    min-height: 100px;
    font-size: 60px;
}

button:hover{ 
    background-color: red;
}

.board { 
    display: grid;
    justify-content: center;
    margin-top: 150px; 
}

header , footer , .score { 
    text-align: center;
    font-size: 20px;
}


